<ion-view view-title="书架"><ion-content><ion-refresher on-refresh="doRefresh()" pulling-icon="ion-arrow-down-c" pulling-text="下拉以更新数据" refreshing-icon="ion-load-c" refreshing-text="更新中..."></ion-refresher><ion-list><ion-item class="item-input-inset bar bar-header"><label class="item-input-wrapper"><i class="ion-ios7-search placeholder-icon"></i><input ng-model="data.searchQuery" placeholder="搜索..." type="text" /><i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i></label><button class="button-clear" ng-click="clearSearch()">清空</button></ion-item></ion-list>
    <div class="card list" ng-repeat="book in books | filter: data.searchQuery">
      <ion-item class="item item-avatar"><img src="{{book.image}}" style="border-radius: 4px;" />
        <h2>
          《{{book.title}}》
        </h2>
        <p>
          <a class="subdued">{{book.author.join(' / ')}}</a>
        </p>
      </ion-item>
      <div class="item item-body">
        <p>
          {{(book.summary.length > 200)?(book.summary.substring(0,180) + '...'):(book.summary)}}
        </p>
        <p>
          <a class="subdued" ng-repeat="tag in book.tags"><i class="ion-ios-pricetags-outline"></i> {{tag.title}} </a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/tab/home/detail/{{book.isbn13}}"><i class="icon ion-document-text"></i> 详细信息</a><a class="tab-item" href="#/tab/douban/2"><i class="icon ion-ios-chatboxes-outline"></i> 查看评价</a><a class="tab-item" href="#/tab/app/2"><i class="icon icon ion-clipboard"></i> 申请借阅</a>
      </div>
    </div>
  </ion-content></ion-view>
