ion-tabs.tabs-icon-only.tabs-striped.tabs-color-positive
  ion-tab title="Home" icon-off="ion-ios-bookmarks" href="#/tab/home" icon-on="ion-ios-bookmarks-outline"
    ion-nav-view name="home-tab"

  ion-tab title="About" icon-off="ion-ios-more" icon-on="ion-ios-more-outline" href="#/tab/about"
    ion-nav-view name="about-tab"
